<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create a New listing</h3>
            <br>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" type="text" placeholder="enter a catchy title" class="form-control" id="title" required>
                        <div class="valid-feedback">Title looks good</div>
                    </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" rows="4" cols="35" id="description" required></textarea>
                    <div class="invalid-feedback">please add some short description</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image link</label>
                    <input name="listing[image]" type="text" placeholder="image url" class="form-control" id="image">
                    <div class="invalid-feedback">please enter an image link</div>
                </div> -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" id="image" required>
                    <div class="invalid-feedback">please enter an image link</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]"  placeholder="1200" class="form-control" id="price" required>
                        <div class="invalid-feedback">please enter valid price</div>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" type="text" placeholder="India" class="form-control" id="country" required>
                        <div class="invalid-feedback">please enter country</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" type="text" placeholder="Jaipur, Rajasthan" class="form-control" id="location" required>
                    <div class="invalid-feedback">please enter location</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br><br>
            </form>
        </div>
    </div>
</body>
